<div class="{{ classes.navbar }}">
  <nav class="flex items-center mx-auto measure">
    <a href="/" class="p-2">
      <svg fill="currentColor" width="40" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <path class="cls-1" d="M261 157a155 155 0 0116 7l35-89h1v120a136 136 0 0124 41 159 159 0 015 15V34h-42l-47 119 8 4zM184 331h27l54-135a109 109 0 00-19-12l-4-2-44 113-45-113-4 2a109 109 0 00-18 12zM58 236a136 136 0 0124-41V75h1l35 89a155 155 0 0116-7l8-4L95 34H53v218a159 159 0 015-16z"/>
      </svg>
      <span class="sr-only">Go back to homepage</span>
    </a>

    <div class="flex items-center ml-auto -mb-px">
      {% for item in navigation.main %}
        <a {% if item.external %}rel="external" {% endif %} href="{{ item.url | safe }}"
        class="px-1 py-6 leading-5 whitespace-no-wrap border-b-2 border-transparent focus:outline-none hover:border-cool-gray-700 focus:border-cool-gray-700 ml-6 md:ml-12 {% if page.url == item.url %}border-primary{% endif %}"
        {% if page.url == item.url %} aria-current="page" {% endif %}>{{ item.label }}</a>
      {% endfor %}
      {% if site.allowDarkMode %}
        <button id="dark-mode-toggle" class="p-2 ml-6 md:ml-12">
          <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6 moon-icon">
            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
          </svg>
          <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6 sun-icon">
            <path fill-rule="evenodd"
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Button to switch between dark and light theme</span>
        </button>
      {% endif %}
    </div>
  </nav>
</div>