<!DOCTYPE html>
<html lang="{{ site.lang }}" class="{{ classes.html }}">

  <head>
    {% include "components/head.njk" %}

    {% if env == 'production' %}
      {# capture the CSS content as a Nunjucks variable #}
      {% set css %}{% include "css/style.min.css" %}{% endset %}
      <style>
        {{css | safe}}
      </style>
    {% else %}
      <link rel="stylesheet" href="/assets/style.css">
    {% endif %}

    {%if (tags == 'post')%}
      <meta property="og:type" content="article"/>
      <meta property="article:published_time" content="{{ date}}"/>
      <script type="application/ld+json">
        {
          "@type": "BlogPosting",
          "headline": "{{ title }}",
          "description": "{{ teaser }}",
          "author": {
            "@type": "Person",
            "name": "{{ site.author.name }}"
          },
          "publisher": {
            "name": "{{ site.author.name }}" "@type": "Organization",
            "logo": {
              "@type": "ImageObject",
              "url": "{{site.url}}/assets/img/favicon.png"
            }
          },
          "datePublished": "{{date}}",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{site.url}}{{page.url}}"
          },
          "@context": "http://schema.org"
        }
      </script>
      {% endif%}</p>
  </head>

  <body class="{{ classes.body }}">
    <p>
      {% include "components/header.njk" %}

      <main id="main-content" style="scroll-margin-top: 5rem;" class="{{ classes.main }}">
        {{ content | safe }}
      </main>

      {% include "components/footer.njk" %}

      {# Add DarkMode script if set to true in site data #}
      {% if site.allowDarkMode %}
        {% set js %}
        {% include "js/darkmode.js" %}
        {% endset %}
        <script>
          {{ js | jsmin | safe }}
        </script>
      {% endif %}

    </body>

  </html>