---
layout: default
title: Blog
description: "Recent Posts"
pagination:
  data: collections.post
  alias: list
  size: 9
  reverse: true
  permalink: "different/page-{{ pagination.pageNumber }}/index.html"
---

<section class="my-auto">
  <section class="text-gray-700 body-font px-0">
    <div class="container md:px-5 py-0 mx-auto">
      <h1 class="font-display font-bold pb-4">{{description}}</h1>
      <ul class="grid md:grid-flow-dense grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8">
        {%- for post in list %}
          <li>
            <div class="h-full mx-auto md:mx-0 overflow-hidden max-w-sm w-full rounded-lg shadow-xl flex flex-col h-full">
              <img class="h-64 md:h-48 lg:h-56 w-full object-cover object-center" src="{{ post.data.img }}" alt="blog">
              <div class="p-6 text-bodytext">
                <h1 class="title-font text-lg font-medium mb-3">{{post.data.title}}</h1>
                <p class="leading-relaxed mb-3">{{post.data.teaser}}</p>
                <div class="flex items-center flex-wrap ">
                  <a href="{{ post.url }}" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Read More <span class="sr-only">about {{post.data.title}}</span>
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
                {% if post.data.categories%}
                  <div class="py-4">
                    {%- for category in post.data.categories %}
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{category}}</span>
                    {% endfor -%}
                  </div>
                  {% endif%}
                </div>
              </div>
            </li>
          {% endfor -%}
        </ul>
      </div>
    </div>
  </section>
</section>

<ol>
  {% if pagination.previousPageHref %}
    <a href="{{pagination.previousPageHref}}">previous</next>
  {% endif %}
  {% if pagination.nextPageHref %}
    <a href="{{pagination.nextPageHref}}">next</next>
  {% endif %}
</ol>