---
layout: default
title: Home
description: "Eleventy + Tailwind CSS blog starter"
---

<section class="my-auto">
  <div class="mx-auto measure fade-in-down">
    <p class="font-semibold uppercase text-primary">Hello, I'm Mohammed Mulazada!</p>
    <h1 class="mt-6 font-bold leading-tight font-display">Welcome to my portfolio.</h1>
    <h2 class="mt-6 font-sans text-2xl font-light">I am a front-end developer based in Amsterdam, feel free to look around!
    </h2>
  </div>
</section>