---
layout: default
title: Home
description: "Mohammed Mulazada's Portfolio, an Amsterdam based web developer."
---

<section class="my-auto">
  <div class="mx-auto measure fade-in-down">
    <p class="font-semibold uppercase text-primary">Welcome to my portfolio!</p>
    <h1 class="mt-6 font-bold leading-tight font-display">I am Mohammed Mulazada.</h1>
    <h2 class="mt-6 font-sans text-2xl font-light">A front-end developer based in Amsterdam.
    </h2>
  </div>
</section>