---
layout: default
title: Kudos
description: "Special Kudos"
---

<section class="my-auto">
  <div class="mx-auto flow">
    <h1>Kudos</h1>
    <p>If it weren't for the genorosity of the many people on the web, I wouldn't be half the developer I am right know. On this page I want to from time to time add links and kudos to resources and people that helped me.</p>
  </div>
</section>